# mac os -----

.DS_Store

# R -----

# history files
.Rhistory
.Rapp.history
# session files
.RData
# user files
.Ruserdata
# output files from build
/*.tar.gz
# output files from check
/*.Rcheck/
# rstudio
*.Rproj
.Rproj.user/
# vignettes
vignettes/*.html
vignettes/*.pdf
# oaAuth2 token
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# rmarkdown temporary files
*.utf8.md
*.knit.md

# python -----

.ipynb_checkpoints/*
*.pyc

# misc -----

src/*.dll
src/*.o
src/*.so
Untitled*
wip_*/*
