.DS_Store
.httr-oauth
src/*.dll
src/*.o
src/*.so

# R
.RData
.Rhistory
.Rproj.user
.Ruserdata
*.Rproj

# rmarkdown / knitr
*_cache/
unnamed-chunk*

# python
.ipynb_checkpoints/*
*.pyc

# misc
Untitled*
wip_*/*

