
/* Table of contents -------------------------------------------------------------------*/

/* body when using floating toc */
.toc-content {
    color: green;
    padding-right: 0;
    padding-left: 0;
}


/* Body --------------------------------------------------------------------------------*/

blockquote {
  font-style: italic
}
