<html>

<head>
<title>page a</title>
</head>

<body>

<a id="top">top</a> 

<p>This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>

<!--begin.rcode
summary(cars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

<p>I cant work out how to do equations: $y_i = \alpha + \beta x_i + e_i$

<p>

$$
  \begin{aligned}
  \dot{x} & = \sigma(y-x) \\
  \end{aligned}
$$

<p>I cant work out how to do equations: $latex y_i = \alpha + \beta x_i + e_i$

<p>

$$latex
  \begin{aligned}
  \dot{x} & = \sigma(y-x) \\
  \end{aligned}
$$

<p>I cant work out how to do equations: \(  y_i = \alpha + \beta x_i + e_i \)

<p>

\[
  \begin{aligned}
  \dot{x} & = \sigma(y-x) \\
  \end{aligned}
\]

<p>Here's a link to <a href="http://www.google.com">Google.</a> 

<p>Here's a link to <a href="http://www.google.com" target="_blank">Google.</a> that opens a new window. 

<p>Here's one to another page:
<a href="page b.html">Click here to go to page b.</a> 

<p>Here's one to another section on the same page:
<a href="#top">go to top</a> 

</body>
</html>
